<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Thymeleaf in action</title>
<!-- Bootstrap core CSS -->
<script src="@{jquery.min.js}"></script>
<link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
<link href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<script src="@{bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<footer class="blog-footer" data-th-fragment="footer">
	<button class="btn btn-default" type="submit">Button</button>
		<a href="https://www.bilibili.com">Welcome to bilibili.com</a>
	</footer>
</body>
</html>