<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="text/html;charset=UTF-8"/>
		<link th:href="@{../bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
		<link th:href="@{../bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/oper">后台交互</a></li>
            <li><a href="#/directive">自定义指令</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	
	
     <div class="content">
    </div>
</body>
</html>